<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <a class="navbar-brand page-scroll" href="http://2015.youcon.ru">2015</a>
            <a class="navbar-brand page-scroll" href="http://2016.youcon.ru">2016</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">О конференции</a>
                </li>
                <li>
                    <a class="page-scroll" href="#schedule">Расписание</a>
                </li>
                <li>
                    <a class="page-scroll" href="#partners">Партнеры</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Организаторы</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contacts">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="container">
        <div class="intro-text">
            <img class="logo-img" src="static/images/logo.png"/>
            <div class="intro-date">САРАТОВ | 14 октября 2017</div>
            <div class="intro-heading">САРАТОВСКАЯ ГОСУДАРСТВЕННАЯ ЮРИДИЧЕСКАЯ АКАДЕМИЯ</div>
            <a href="#registration" class="page-scroll btn btn-xl reg">Регистрация</a>
        </div>
    </div>
</header>
