<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            {% if site.is_in_progress %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            {% endif %}
            {% for event in site.previous_events %}
                <a class="navbar-brand page-scroll" href="{{ event.link }}">{{ event.name }}</a>
            {% endfor %}
            {% for event in site.other_events %}
                <a class="navbar-brand page-scroll events" href="{{ event.link }}">{{ event.name }}</a>
            {% endfor %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {% if site.is_in_progress %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info">О конференции</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Расписание</a>
                    </li>
                    {% comment %}
                    <li>
                        <a class="page-scroll" href="#partners">Партнеры</a>
                    </li>
                    {% endcomment %}
                    <li>
                        <a class="page-scroll" href="#team">Организаторы</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>

<header>
    <div class="container">
        <div class="intro-text">
            <h1 class="logo">
                <img class="logo-img" src="static/images/logo.png" alt="ЮКОН - Ежегодная конференция" />
            </h1>
            <div class="intro-date">{{ site.event_city }} | {{ site.event_date }}</div>
            <div class="intro-heading">{{ site.event_location_name }}</div>
            {% if site.is_registration_open %}
                <a href="#info" class="page-scroll btn btn-xl reg">О конференции</a>
            {% endif %}
            {% unless site.is_in_progress %}
                <a href="#subscribe" class="page-scroll btn btn-xl reg">Подписаться</a>
            {% endunless %}
        </div>
    </div>
</header>
