
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ЮКОН - Ежегодная конференция">
        <meta name="author" content="Youcon">

        <title>ЮКОН - Ежегодная конференция - 14 Октября 2017, Саратов, Саратовская Государственная Юридическая Академия, Корпус 1</title>

        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="static/images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="static/images/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="manifest.json">
        <meta name="theme-color" content="#151412">

        <!-- social microformats-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@youconsaratov">
        <meta name="twitter:creator" content="@youconsaratov">
        <meta name="twitter:domain" content="http://youcon.ru">
        <meta name="twitter:title" content="ЮКОН">
        <meta name="twitter:description" content="ЮКОН - Ежегодная конференция - 14 Октября 2017, Саратов, Саратовская Государственная Юридическая Академия">
        <meta name="twitter:image" content="http://youcon.ru/static/images/prew.png">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="ЮКОН">
        <meta property="og:url" content="http://youcon.ru">
        <meta property="og:title" content="ЮКОН">
        <meta property="og:image:height" content="314">
        <meta property="og:image:width" content="600">
        <meta property="og:image" content="http://youcon.ru/static/images/prew.png">
        <meta property="og:description" content="ЮКОН - Ежегодная конференция - 14 Октября 2017, Саратов, Саратовская Государственная Юридическая Академия">


        <!-- Bootstrap -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest minified FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- VK -->
	<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-164277-1B0Ml';</script>
	<!-- Facebook Pixel Code -->
	<script>
  	!function(f,b,e,v,n,t,s)
  	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '915917885240322');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=915917885240322&ev=PageView&noscript=1"/></noscript>
	<!-- End Facebook Pixel Code -->


        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <link href="static/css/style.css" rel="stylesheet">
