<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Организаторы</h2>
            </div>
        </div>
        <div class="row">
        {% for org in site.data.orgs %}
            {% assign loopindex = forloop.index0 | modulo: 4 %}
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="org-block">
                <a href="{{ org.link }}" title="{{ org.name }} - {{ org.bio }}" target="_blank">
                  <img src="{{ org.photo }}" alt="{{ org.name }} - {{ org.bio }}" class="img-circle org-photo"/>
                </a>
                <div class="org-text">
                  <div class="org-name">
                      {{ org.name }}
                  </div>
                  <div class="org-bio">
                      {{ org.bio }}
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
