<section id="registration" class="reg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Регистрация</h2>
            </div>
        </div>
        <div id="success" class="row">
            <div class="col-lg-12 success">
                <h3>Регистрация успешно пройдена, на вашу электронную почту должно прийти подтверждение.</h3>
            </div>
        </div>
        <div id="reg_form" class="row">
            <div class="col-lg-12 form-box">
                <form method="POST" action="https://reg.youcon.ru/reg/">
                    <div class="row form-group">
                        <div class="col-md-6 reg-input">
                            <label for="full_name">Фамилия, Имя</label>
                            <input type="text" name="full_name" maxlength="50"/>
                        </div>
                        <div class="col-md-6">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" maxlength="50"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 reg-input">
                            <label for="company">Компания</label>
                            <input type="text" name="company" maxlength="50"/>
                        </div>
                        <div class="col-md-6">
                            <label for="bio">Должность</label>
                            <input type="text" name="bio" maxlength="50"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Регистрация</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>

