<section id="registration" class="reg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Регистрация</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 success">
                <h3>Регистрация на сайте закрыта. Пройти регистрацию можно будет в день конференции на стойки регистрации участников.</h3>
            </div>
        </div>
    </div>
    </div>
</section>

