<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-block">
                    1500+
              </div>
              <div class="info-underblock">
                   участников 
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-block">
                    20+
              </div>
              <div class="info-underblock">
                   докладчиков 
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-block">
                   10+ 
              </div>
              <div class="info-underblock">
                   ИТ-компаний
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-block">
                    4
              </div>
              <div class="info-underblock">
                   конференция 
              </div>
            </div>
        </div>
    </div>
</section>
