<section id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Подпишись на новости</h2>
            </div>
        </div>
        <div class="row">
            <form action="https://youcon.us15.list-manage.com/subscribe/post?u=8a44cdfb6240dda661bf25091&amp;id=dbaaebb312" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="col-md-offset-2 col-lg-6 sub">
                    <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Введите email, чтобы подписаться на рассылку" required>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8a44cdfb6240dda661bf25091_dbaaebb312" tabindex="-1" value=""></div>
                </div>
                <div class="col-lg-3 sub">
                    <button type="submit" class="btn btn-xl">Подписаться</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>

