<section id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-heading">Контакты</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="address">
                    СГЮА, Корпус 1 ул. Чернышевского, 104
                </div>
                <div class="address-title">
                    Телефон:
                </div>
                <div class="address">
                    <a href="tel:89271209970">+7 927 120 99 70</a>
                </div>
                <div class="address-title">
                    Email:
                </div>
                <div class="address">
                    <a href="mailto:info@youcon.ru">info@youcon.ru</a>
                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="soc-links">
                    <a target="_blank" href="https://vk.com/youconsaratov2017"><i class="fa fa-vk"></i></a>
                    <a target="_blank" href="https://twitter.com/youconsaratov"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://www.facebook.com/youconsaratov/"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="https://plus.google.com/+YouconRu?hl=ru"><i class="fa fa-google-plus"></i></a>
                    <a target="_blank" href="https://www.instagram.com/youconsaratov/"><i class="fa fa-instagram"></i></a>
                    <a target="_blank" href="https://github.com/youcon/youcon.github.io"><i class="fa fa-github-alt"></i></a>
                </div>
                <p class="copyright">Юкон &copy; 2017. ВСЕ ПРАВА ЗАЩИЩЕНЫ</p>
            </div>
        </div>
    </div>
</section>
