@font-face {
    font-family: 'code_pro_bold_lcregular';
    src: url('../fonts/code_pro_bold_lc-webfont.woff2') format('woff2'),
    url('../fonts/code_pro_bold_lc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_pro_boldregular';
    src: url('../fonts/code_pro_bold-webfont.woff2') format('woff2'),
    url('../fonts/code_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_pro_lcregular';
    src: url('../fonts/code_pro_lc-webfont.woff2') format('woff2'),
    url('../fonts/code_pro_lc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background: #c12c2c;
    font-family: 'code_pro_lcregular', Arial, sans-serif;
    color: #ffffff;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: #1093a3;
}

.header {
    height: 5rem;
    background: #c12c2c;
}

.content {
    background: #e7e7e7;
}

.content__wrapper {
    position: relative;
    width: 1200px;
    height: 694px;
    margin: 0 auto;
    background: url("../images/bg.jpg") no-repeat 50% 0;
}

.content__date {
    position: absolute;
    right: 45px;
    top: 55px;
    width: 400px;
    height: 162px;
    background: url("../images/date.png") no-repeat;
}

.content__summary {
    position: absolute;
    top: 340px;
    right: 25px;
    font-family: 'code_pro_lcregular', Arial, sans-serif;
    text-align: right;
    font-size: 1.6rem;
}

.content__summary strong {
    margin-left: 5px;
    font-family: 'code_pro_bold_lcregular', Arial, sans-serif;
    font-size: 2.8rem;
}

.content__stats {
    position: absolute;
    top: 385px;
    right: 25px;
    font-family: 'code_pro_boldregular', Arial, sans-serif;
    text-align: right;
    font-size: 1.7rem;
    color: #505050;
}

.content__stats li {
    margin: 1rem 0;
}

.content__stats strong {
    font-size: 3.4rem;
}

.footer {
    padding: 25px;
    height: 13.5rem;
    background: #c12c2c;
}

.footer__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.social {
    float: left;
}

.social__title {
    font-family: 'code_pro_lcregular', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.social__group {
    overflow: hidden;
}

.social__group__item {
    float: left;
    display: block;
    margin-right: 11px;
    height: 18px;
    background: url("../images/social.png") no-repeat;
    transition: opacity .3s;
}

.social__group__item:hover {
    opacity: .75;
}

.social__group__item.vk {
    width: 31px;
}

.social__group__item.ig {
    width: 18px;
    background-position: -43px 0;
}

.social__group__item.tw {
    width: 22px;
    background-position: -76px 0;
}

.social__group__item.gp {
    width: 19px;
    background-position: -113px 0;
}

.social__group__item.fb {
    width: 10px;
    background-position: -147px 0;
}