<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="page-top" class="index">
    {% include header.html %}
    {% include section_info.html %}
    {% if site.is_in_progress %}
        {% include section_about.html %}
        {% if site.is_registration_open %}
            {% include section_registration.html %}
        {% else %}
            {% include section_closed_registration.html %}
        {% endif %}
            {% include section_schedule.html %} 
            <section id="splitter"/>
            {% include section_partners.html %}
    {% else %}
        {% include section_subscribe.html %}
        <section id="splitter"/>
    {% endif %}
    {% include section_team.html %}
    {% include section_contacts.html %}

    {% include footer.html %}
  </body>
</html>
